/* override bootstrap defaults */

body { padding-top: 2rem;
       height: 100%;
       width: 100%;
       position: absolute; }
#players { min-height: 100%;
           height: 100%; }
.player { min-height: 100%;
          height: 100%; }
.carousel-inner { min-height: 100%;
                  height: 100%; }

/* responsive sizes */

html {
    font-size: 10px;
}

/* FIXME: handla landscape as well */

@media (max-width: 575px) {
    html { font-size: 10px; }
    #players .player img.cover { width: 200px; height: 200px; }
    #players .player .progress.duration { width: 200px; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    html { font-size: 12px; }
    #players .player img.cover { width: 250px; height: 250px; }
    #players .player .progress.duration { width: 250px; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html { font-size: 14px; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html { font-size: 16px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html { font-size: 18px; }
}

@media (min-width: 1200px) and (min-height: 1200px) {
    #players .player img.cover { width: 300px; height: 300px; }
    #players .player .progress.duration { width: 300px; }
}

#players .player { padding-top: 4rem; }

@media (max-height: 500px) {
    #players .player img.cover { width: 100px; height: 100px; }
    #players .player .progress.duration { width: 100px; }
}

@media (min-height: 992px) and (min-width: 1200px) {
    #players .player { padding-top: 20rem; }
}

h1, h2, h3, h4, h5 ,h6 { max-width: 100%;
                         white-space: nowrap;
                         overflow: hidden;
                         text-overflow: ellipsis; }

/*h1:after, h2:after, h3:after, h4:after, h5:after, h6:after { content: '\0200b'; } */

/* playlist */

.playlist { display: none; }
.playlist.active { display: block; }
.media img.cover { height: 5rem; width: 5rem; }
.media .artist { min-height: 1rem; }

/* player */

#players { display: none; } /* hide initially */

#players .player { padding-bottom: 10rem;
                   color: white; }

.player .controls .btn {
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    margin: 0.2rem;
}

.player .controls .btn-xl {
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}

body .player-id { display: none; }
body.debug .player-id { display: inline; }

.progress.duration { border-radius: 0; margin-bottom: 1rem; }
.progress-title { position: absolute; right: 0; left: 0; color: white; mix-blend-mode: difference; } /* FIXME: get this to work somehow, white text on blue bg, black text on grey bg */
.player .track { min-height: 1rem; }

.player button.pause { display: none; }

.player.stopped button.play,
.player.paused button.play,
.player.playing button.pause { display: inline; }

.player.playing button.play,
.player.paused button.pause,
.player.stopped button.pause { display: none; }

.player.stream .duration.progress { background-color: transparent; }
.player.stream .gduration.progress .progress-title { color: white; mix-blend-mode: initial; }

.player.synced button.sync { display: inline; }
.player.unsynced button.unsync { display: none; }

#volumes .progress { }

/* faster sliding speed */
.carousel-item {
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#debug { position: absolute;
         bottom: 0px;
         right: 0px;
         z-index: 10; }
